[submodule "pullexploits"]
	path = pullexploits
	url = https://github.com/Cyb3rchad/pullexploits.git
	branch = master
[submodule "shellupgrade"]
	path = shellupgrade
	url = https://github.com/Cyb3rchad/shellupgrade.git
	branch = master
